/* Version: 2.1.2 - Generated 2022-11-06 14:20:57 */
:root {
  --primary: #e56c70;
  --primary-hover: #ed9799;
  --primary-ultra-light: #fbe9ea;
  --primary-light: #f4bec0;
  --primary-medium: #d9262c;
  --primary-dark: #6c1316;
  --primary-ultra-dark: #2b0809;
  --primary-comp: #6ce5e1;
  --secondary: #6c5879;
  --secondary-hover: #7c658b;
  --secondary-ultra-light: #f3f0f4;
  --secondary-light: #dad3df;
  --secondary-medium: #846b94;
  --secondary-dark: #42364a;
  --secondary-ultra-dark: #1a151e;
  --secondary-comp: #657958;
  --accent: #eaac8b;
  --accent-hover: #f2ceba;
  --accent-ultra-light: #fbf0e9;
  --accent-light: #f3d1be;
  --accent-medium: #d76528;
  --accent-dark: #6c3314;
  --accent-ultra-dark: #2b1408;
  --accent-comp: #8bc8ea;
  --base: #344f6f;
  --base-hover: #3c5a80;
  --base-ultra-light: #eef2f7;
  --base-light: #cbd7e7;
  --base-medium: #527bad;
  --base-dark: #293d57;
  --base-ultra-dark: #101923;
  --base-comp: #6f5534;
  --white: #fff;
  --black: #000;
  --shade: black;
  --shade-hover: black;
  --shade-ultra-light: #f2f2f2;
  --shade-light: #d9d9d9;
  --shade-medium: gray;
  --shade-dark: #404040;
  --shade-ultra-dark: #1a1a1a;
  --shade-comp: black;
  --primary-trans-10: rgba(229, 108, 112, 0.1);
  --primary-trans-20: rgba(229, 108, 112, 0.2);
  --primary-trans-40: rgba(229, 108, 112, 0.4);
  --primary-trans-60: rgba(229, 108, 112, 0.6);
  --primary-trans-80: rgba(229, 108, 112, 0.8);
  --primary-trans-90: rgba(229, 108, 112, 0.9);
  --primary-ultra-dark-trans-10: rgba(43, 8, 9, 0.1);
  --primary-ultra-dark-trans-20: rgba(43, 8, 9, 0.2);
  --primary-ultra-dark-trans-40: rgba(43, 8, 9, 0.4);
  --primary-ultra-dark-trans-60: rgba(43, 8, 9, 0.6);
  --primary-ultra-dark-trans-80: rgba(43, 8, 9, 0.8);
  --primary-ultra-dark-trans-90: rgba(43, 8, 9, 0.9);
  --primary-light-trans-10: rgba(244, 190, 192, 0.1);
  --primary-light-trans-20: rgba(244, 190, 192, 0.2);
  --primary-light-trans-40: rgba(244, 190, 192, 0.4);
  --primary-light-trans-60: rgba(244, 190, 192, 0.6);
  --primary-light-trans-80: rgba(244, 190, 192, 0.8);
  --primary-light-trans-90: rgba(244, 190, 192, 0.9);
  --secondary-trans-10: rgba(108, 88, 121, 0.1);
  --secondary-trans-20: rgba(108, 88, 121, 0.2);
  --secondary-trans-40: rgba(108, 88, 121, 0.4);
  --secondary-trans-60: rgba(108, 88, 121, 0.6);
  --secondary-trans-80: rgba(108, 88, 121, 0.8);
  --secondary-trans-90: rgba(108, 88, 121, 0.9);
  --secondary-ultra-dark-trans-10: rgba(26, 21, 30, 0.1);
  --secondary-ultra-dark-trans-20: rgba(26, 21, 30, 0.2);
  --secondary-ultra-dark-trans-40: rgba(26, 21, 30, 0.4);
  --secondary-ultra-dark-trans-60: rgba(26, 21, 30, 0.6);
  --secondary-ultra-dark-trans-80: rgba(26, 21, 30, 0.8);
  --secondary-ultra-dark-trans-90: rgba(26, 21, 30, 0.9);
  --secondary-light-trans-10: rgba(218, 211, 223, 0.1);
  --secondary-light-trans-20: rgba(218, 211, 223, 0.2);
  --secondary-light-trans-40: rgba(218, 211, 223, 0.4);
  --secondary-light-trans-60: rgba(218, 211, 223, 0.6);
  --secondary-light-trans-80: rgba(218, 211, 223, 0.8);
  --secondary-light-trans-90: rgba(218, 211, 223, 0.9);
  --accent-trans-10: rgba(234, 172, 139, 0.1);
  --accent-trans-20: rgba(234, 172, 139, 0.2);
  --accent-trans-40: rgba(234, 172, 139, 0.4);
  --accent-trans-60: rgba(234, 172, 139, 0.6);
  --accent-trans-80: rgba(234, 172, 139, 0.8);
  --accent-trans-90: rgba(234, 172, 139, 0.9);
  --accent-ultra-dark-trans-10: rgba(43, 20, 8, 0.1);
  --accent-ultra-dark-trans-20: rgba(43, 20, 8, 0.2);
  --accent-ultra-dark-trans-40: rgba(43, 20, 8, 0.4);
  --accent-ultra-dark-trans-60: rgba(43, 20, 8, 0.6);
  --accent-ultra-dark-trans-80: rgba(43, 20, 8, 0.8);
  --accent-ultra-dark-trans-90: rgba(43, 20, 8, 0.9);
  --accent-light-trans-10: rgba(243, 209, 190, 0.1);
  --accent-light-trans-20: rgba(243, 209, 190, 0.2);
  --accent-light-trans-40: rgba(243, 209, 190, 0.4);
  --accent-light-trans-60: rgba(243, 209, 190, 0.6);
  --accent-light-trans-80: rgba(243, 209, 190, 0.8);
  --accent-light-trans-90: rgba(243, 209, 190, 0.9);
  --base-trans-10: rgba(52, 79, 111, 0.1);
  --base-trans-20: rgba(52, 79, 111, 0.2);
  --base-trans-40: rgba(52, 79, 111, 0.4);
  --base-trans-60: rgba(52, 79, 111, 0.6);
  --base-trans-80: rgba(52, 79, 111, 0.8);
  --base-trans-90: rgba(52, 79, 111, 0.9);
  --base-ultra-dark-trans-10: rgba(16, 25, 35, 0.1);
  --base-ultra-dark-trans-20: rgba(16, 25, 35, 0.2);
  --base-ultra-dark-trans-40: rgba(16, 25, 35, 0.4);
  --base-ultra-dark-trans-60: rgba(16, 25, 35, 0.6);
  --base-ultra-dark-trans-80: rgba(16, 25, 35, 0.8);
  --base-ultra-dark-trans-90: rgba(16, 25, 35, 0.9);
  --base-light-trans-10: rgba(203, 215, 231, 0.1);
  --base-light-trans-20: rgba(203, 215, 231, 0.2);
  --base-light-trans-40: rgba(203, 215, 231, 0.4);
  --base-light-trans-60: rgba(203, 215, 231, 0.6);
  --base-light-trans-80: rgba(203, 215, 231, 0.8);
  --base-light-trans-90: rgba(203, 215, 231, 0.9);
  --white-trans-10: rgba(255, 255, 255, 0.1);
  --white-trans-20: rgba(255, 255, 255, 0.2);
  --white-trans-40: rgba(255, 255, 255, 0.4);
  --white-trans-60: rgba(255, 255, 255, 0.6);
  --white-trans-80: rgba(255, 255, 255, 0.8);
  --white-trans-90: rgba(255, 255, 255, 0.9);
  --black-trans-10: rgba(0, 0, 0, 0.1);
  --black-trans-20: rgba(0, 0, 0, 0.2);
  --black-trans-40: rgba(0, 0, 0, 0.4);
  --black-trans-60: rgba(0, 0, 0, 0.6);
  --black-trans-80: rgba(0, 0, 0, 0.8);
  --black-trans-90: rgba(0, 0, 0, 0.9);
  --shade-trans-10: rgba(0, 0, 0, 0.1);
  --shade-trans-20: rgba(0, 0, 0, 0.2);
  --shade-trans-40: rgba(0, 0, 0, 0.4);
  --shade-trans-60: rgba(0, 0, 0, 0.6);
  --shade-trans-80: rgba(0, 0, 0, 0.8);
  --shade-trans-90: rgba(0, 0, 0, 0.9);
  --shade-ultra-dark-trans-10: rgba(26, 26, 26, 0.1);
  --shade-ultra-dark-trans-20: rgba(26, 26, 26, 0.2);
  --shade-ultra-dark-trans-40: rgba(26, 26, 26, 0.4);
  --shade-ultra-dark-trans-60: rgba(26, 26, 26, 0.6);
  --shade-ultra-dark-trans-80: rgba(26, 26, 26, 0.8);
  --shade-ultra-dark-trans-90: rgba(26, 26, 26, 0.9);
  --shade-light-trans-10: rgba(217, 217, 217, 0.1);
  --shade-light-trans-20: rgba(217, 217, 217, 0.2);
  --shade-light-trans-40: rgba(217, 217, 217, 0.4);
  --shade-light-trans-60: rgba(217, 217, 217, 0.6);
  --shade-light-trans-80: rgba(217, 217, 217, 0.8);
  --shade-light-trans-90: rgba(217, 217, 217, 0.9);
  --shade-white: #fff;
  --shade-black: #000;
  --text-xs: 1.3rem;
  --text-s: 1.4rem;
  --text-m: 1.8rem;
  --text-l: 2rem;
  --text-xl: 2.3rem;
  --text-xxl: 2.6rem;
  --h6: 1.3rem;
  --h5: 1.4rem;
  --h4: 1.8rem;
  --h3: 2rem;
  --h2: 2.3rem;
  --h1: 2.6rem;
  --space-xs: 1.896rem;
  --space-s: 2.133rem;
  --space-m: 2.4rem;
  --space-l: 2.7rem;
  --space-xl: 3.038rem;
  --space-xxl: 3.42rem;
  --section-space-xs: 3.84rem;
  --section-space-s: 4.8rem;
  --section-space-m: 6rem;
  --section-space-l: 7.5rem;
  --section-space-xl: 9.375rem;
  --section-space-xxl: 11.719rem;
  --width-xs: calc((148 * 0.1) * 1rem);
  --width-s: calc((148 * 0.2) * 1rem);
  --width-m: calc((148 * 0.4) * 1rem);
  --width-l: calc((148 * 0.6) * 1rem);
  --width-xl: calc((148 * 0.8) * 1rem);
  --width-xxl: calc((148 * 0.9) * 1rem);
  --width-vp-max: 148rem;
  --width-50: calc((148 / 2) * 1rem);
  --width-full: 100%;
  --radius-xs: 0.4444444444rem;
  --radius-s: 0.6666666667rem;
  --radius-m: 1rem;
  --radius-l: 1.5rem;
  --radius-xl: 2.25rem;
  --radius-xxl: 3.375rem;
  --radius-50: 50%;
  --radius-circle: 50%;
  --section-padding-x: 2.4rem;
  --section-gutter: 2.4rem;
  --btn-border-size: 0.25rem;
  --outline-btn-border-size: 0.25rem;
  --btn-pad-y: 0.75em;
  --btn-pad-x: 1.5em;
  --btn-radius: 0;
  --btn-text-transform: none;
  --btn-text-style: normal;
  --btn-letter-spacing: 0;
  --btn-line-height: 1;
  --btn-text-decoration: none;
  --btn-weight: 400;
  --btn-width: 20;
  --primary-h: 358;
  --primary-s: 70%;
  --primary-l: 66%;
  --secondary-h: 276;
  --secondary-s: 16%;
  --secondary-l: 41%;
  --accent-h: 21;
  --accent-s: 69%;
  --accent-l: 73%;
  --base-h: 213;
  --base-s: 36%;
  --base-l: 32%;
  --shade-h: 0;
  --shade-s: 0%;
  --shade-l: 0%;
  --header-height: 0rem;
  --offset: 0rem;
}
@media (max-width: 991px) {
  :root {
    --header-height-l: 0rem;
    --offset-l: 0rem;
  }
}
@media (max-width: 767px) {
  :root {
    --header-height-m: 0rem;
    --offset-m: 0rem;
  }
}
@media (max-width: 479px) {
  :root {
    --header-height-s: 0rem;
    --offset-s: 0rem;
  }
}
